In [12]:
import pandas as pd

co2Link='https://github.com/IntroSpatialDataScience/ClimateChangeData/raw/main/data/CO2_emission.csv'
precipitationLink = 'https://github.com/IntroSpatialDataScience/ClimateChangeData/raw/main/data/precipitation_mean.csv'
solarElectricityLink = 'https://github.com/IntroSpatialDataScience/ClimateChangeData/raw/main/data/solar_electricity.csv'
co2=pd.read_csv(co2Link)
precipitation=pd.read_csv(precipitationLink)
solar = pd.read_csv(solarElectricityLink)

In [8]:
co2

              Country or Area  Year         Value
0                   Australia  2020  4.003335e+05
1                   Australia  2000  3.496355e+05
2                   Australia  1990  2.781542e+05
3                     Austria  2020  6.203745e+04
4                     Austria  2000  6.614978e+04
..                        ...   ...           ...
124            United Kingdom  2000  5.697442e+05
125            United Kingdom  1990  6.026521e+05
126  United States of America  2020  4.715691e+06
127  United States of America  2000  6.016351e+06
128  United States of America  1990  5.122496e+06

[129 rows x 3 columns]

In [9]:
precipitation

,Country or Territory,Station Name,Period,Statistic Description,Unit,Jan,Jan Footnotes,Feb,Feb Footnotes,Mar,...,Oct,Oct Footnotes,Nov,Nov Footnotes,Dec,Dec Footnotes,Annual,Annual Footnotes,Annual NCDC Computed Value,Annual NCDC Computed Value Footnotes
0,"AFGHANISTAN, ISLAMIC STATE OF",Faiz abad,1961-1983,Mean Monthly Value,mm,49.4,NaN,65.0,NaN,91.9,...,23.4,NaN,29.7,NaN,34.1,NaN,40.4,NaN,484.9,NaN
1,"AFGHANISTAN, ISLAMIC STATE OF",Sheberghan,1959-1983,Mean Monthly Value,mm,42.3,NaN,44.3,NaN,56.4,...,6.6,NaN,13.6,NaN,29.8,NaN,19.2,NaN,230.5,NaN
2,"AFGHANISTAN, ISLAMIC STATE OF",Mazar-i-Sharif,1958-1983,Mean Monthly Value,mm,28.9,NaN,34.8,NaN,43.8,...,3.9,NaN,13.5,NaN,21.7,NaN,15.5,NaN,186.4,NaN
3,"AFGHANISTAN, ISLAMIC STATE OF",Kunduz,1968-1983,Mean Monthly Value,mm,44.0,NaN,56.5,NaN,76.7,...,7.3,NaN,23.7,NaN,28.4,NaN,26.8,NaN,322.6,NaN
4,"AFGHANISTAN, ISLAMIC STATE OF",Maimana,1964-1983,Mean Monthly Value,mm,49.9,NaN,60.5,NaN,82.2,...,9.6,NaN,20.9,NaN,44.7,NaN,29.6,NaN,355.6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4258,ZIMBABWE,Beitbridge,1961-1990,Mean Monthly Value,mm,56.8,NaN,54.8,NaN,34.1,...,28.4,NaN,48.7,NaN,53.7,NaN,332.0,NaN,332.0,NaN
4259,footnoteSeqID,Footnote,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4260,1,code for missing value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4261,2,"trace value for precipitation, rainfall, snowfall",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4262,3,code for value > 0.0 but < the smallest unit a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
solar

,Country or Area,Commodity - Transaction,Year,Unit,Quantity,Quantity Footnotes
0,Afghanistan,Electricity - total solar production,2020.0,"Kilowatt-hours, million",31.930,NaN
1,Albania,Electricity - total solar production,2020.0,"Kilowatt-hours, million",32.260,NaN
2,Algeria,Electricity - total solar production,2020.0,"Kilowatt-hours, million",665.220,NaN
3,American Samoa,Electricity - total solar production,2020.0,"Kilowatt-hours, million",5.210,1.0
4,Andorra,Electricity - total solar production,2020.0,"Kilowatt-hours, million",2.000,1.0
...,...,...,...,...,...,...
239,Yemen,Electricity - total solar production,2020.0,"Kilowatt-hours, million",489.800,NaN
240,Zambia,Electricity - total solar production,2020.0,"Kilowatt-hours, million",150.156,NaN
241,Zimbabwe,Electricity - total solar production,2020.0,"Kilowatt-hours, million",24.400,NaN
242,fnSeqID,Footnote,NaN,NaN,NaN,NaN
243,1,Estimate,NaN,NaN,NaN,NaN

In [15]:
co2.shape,precipitation.shape,solar.shape

((129, 3), (4263, 33), (244, 6))

In [16]:
co2.columns,precipitation.columns,solar.columns

(Index(['Country or Area', 'Year', 'Value'], dtype='object'),
 Index(['Country or Territory', 'Station Name', 'Period',
        'Statistic Description', 'Unit', 'Jan', 'Jan Footnotes', 'Feb',
        'Feb Footnotes', 'Mar', 'Mar Footnotes', 'Apr', 'Apr Footnotes', 'May',
        'May Footnotes', 'Jun', 'Jun Footnotes', 'Jul', 'Jul Footnotes', 'Aug',
        'Aug Footnotes', 'Sep', 'Sep Footnotes', 'Oct', 'Oct Footnotes', 'Nov',
        'Nov Footnotes', 'Dec', 'Dec Footnotes', 'Annual', 'Annual Footnotes',
        'Annual NCDC Computed Value', 'Annual NCDC Computed Value Footnotes'],
       dtype='object'),
 Index(['Country or Area', 'Commodity - Transaction', 'Year', 'Unit',
        'Quantity', 'Quantity Footnotes'],
       dtype='object'))