In [461]:
import pandas as pd

co2Link='https://github.com/IntroSpatialDataScience/ClimateChangeData/raw/main/data/CO2_emission.csv'
precipitationLink = 'https://github.com/IntroSpatialDataScience/ClimateChangeData/raw/main/data/precipitation_mean.csv'
solarElectricityLink = 'https://github.com/IntroSpatialDataScience/ClimateChangeData/raw/main/data/solar_electricity.csv'
co2=pd.read_csv(co2Link)
precipitation=pd.read_csv(precipitationLink)
solar = pd.read_csv(solarElectricityLink)

In [462]:
co2_new=co2.copy()
precipitation_new=precipitation.copy()
solar_new=solar.copy()

In [463]:
co2_new.rename(columns={'Country or Area':'Country'}, inplace=True)
precipitation_new.rename(columns={'Country or Territory':'Country'}, inplace=True)
solar_new.rename(columns={'Country or Area':'Country'}, inplace=True)

In [464]:
precipitation_new['Country']=precipitation_new.Country.str.title()

In [465]:
precipitation_new.head()

,Country,Station Name,Period,Statistic Description,Unit,Jan,Jan Footnotes,Feb,Feb Footnotes,Mar,...,Oct,Oct Footnotes,Nov,Nov Footnotes,Dec,Dec Footnotes,Annual,Annual Footnotes,Annual NCDC Computed Value,Annual NCDC Computed Value Footnotes
0,"Afghanistan, Islamic State Of",Faiz abad,1961-1983,Mean Monthly Value,mm,49.4,NaN,65.0,NaN,91.9,...,23.4,NaN,29.7,NaN,34.1,NaN,40.4,NaN,484.9,NaN
1,"Afghanistan, Islamic State Of",Sheberghan,1959-1983,Mean Monthly Value,mm,42.3,NaN,44.3,NaN,56.4,...,6.6,NaN,13.6,NaN,29.8,NaN,19.2,NaN,230.5,NaN
2,"Afghanistan, Islamic State Of",Mazar-i-Sharif,1958-1983,Mean Monthly Value,mm,28.9,NaN,34.8,NaN,43.8,...,3.9,NaN,13.5,NaN,21.7,NaN,15.5,NaN,186.4,NaN
3,"Afghanistan, Islamic State Of",Kunduz,1968-1983,Mean Monthly Value,mm,44.0,NaN,56.5,NaN,76.7,...,7.3,NaN,23.7,NaN,28.4,NaN,26.8,NaN,322.6,NaN
4,"Afghanistan, Islamic State Of",Maimana,1964-1983,Mean Monthly Value,mm,49.9,NaN,60.5,NaN,82.2,...,9.6,NaN,20.9,NaN,44.7,NaN,29.6,NaN,355.6,NaN

In [466]:
precipitation_new['Country']=precipitation_new.Country.str.split(',',expand=True)[0]

In [467]:
precipitation_new.head()

,Country,Station Name,Period,Statistic Description,Unit,Jan,Jan Footnotes,Feb,Feb Footnotes,Mar,...,Oct,Oct Footnotes,Nov,Nov Footnotes,Dec,Dec Footnotes,Annual,Annual Footnotes,Annual NCDC Computed Value,Annual NCDC Computed Value Footnotes
0,Afghanistan,Faiz abad,1961-1983,Mean Monthly Value,mm,49.4,NaN,65.0,NaN,91.9,...,23.4,NaN,29.7,NaN,34.1,NaN,40.4,NaN,484.9,NaN
1,Afghanistan,Sheberghan,1959-1983,Mean Monthly Value,mm,42.3,NaN,44.3,NaN,56.4,...,6.6,NaN,13.6,NaN,29.8,NaN,19.2,NaN,230.5,NaN
2,Afghanistan,Mazar-i-Sharif,1958-1983,Mean Monthly Value,mm,28.9,NaN,34.8,NaN,43.8,...,3.9,NaN,13.5,NaN,21.7,NaN,15.5,NaN,186.4,NaN
3,Afghanistan,Kunduz,1968-1983,Mean Monthly Value,mm,44.0,NaN,56.5,NaN,76.7,...,7.3,NaN,23.7,NaN,28.4,NaN,26.8,NaN,322.6,NaN
4,Afghanistan,Maimana,1964-1983,Mean Monthly Value,mm,49.9,NaN,60.5,NaN,82.2,...,9.6,NaN,20.9,NaN,44.7,NaN,29.6,NaN,355.6,NaN

In [468]:
co2_new.shape,precipitation_new.shape,solar_new.shape

((129, 3), (4263, 33), (244, 6))

In [469]:
co2_new.columns,precipitation_new.columns,solar_new.columns

(Index(['Country', 'Year', 'Value'], dtype='object'),
 Index(['Country', 'Station Name', 'Period', 'Statistic Description', 'Unit',
        'Jan', 'Jan Footnotes', 'Feb', 'Feb Footnotes', 'Mar', 'Mar Footnotes',
        'Apr', 'Apr Footnotes', 'May', 'May Footnotes', 'Jun', 'Jun Footnotes',
        'Jul', 'Jul Footnotes', 'Aug', 'Aug Footnotes', 'Sep', 'Sep Footnotes',
        'Oct', 'Oct Footnotes', 'Nov', 'Nov Footnotes', 'Dec', 'Dec Footnotes',
        'Annual', 'Annual Footnotes', 'Annual NCDC Computed Value',
        'Annual NCDC Computed Value Footnotes'],
       dtype='object'),
 Index(['Country', 'Commodity - Transaction', 'Year', 'Unit', 'Quantity',
        'Quantity Footnotes'],
       dtype='object'))

In [470]:
co2_solar = co2_new.merge(solar_new,how='inner',left_on='Country',right_on='Country')
co2_solar

,Country,Year_x,Value,Commodity - Transaction,Year_y,Unit,Quantity,Quantity Footnotes
0,Australia,2020,400333.466600,Electricity - total solar production,2020.0,"Kilowatt-hours, million",21033.194,NaN
1,Australia,2020,400333.466600,Electricity - total solar production,2000.0,"Kilowatt-hours, million",38.000,NaN
2,Australia,2000,349635.486902,Electricity - total solar production,2020.0,"Kilowatt-hours, million",21033.194,NaN
3,Australia,2000,349635.486902,Electricity - total solar production,2000.0,"Kilowatt-hours, million",38.000,NaN
4,Australia,1990,278154.156296,Electricity - total solar production,2020.0,"Kilowatt-hours, million",21033.194,NaN
...,...,...,...,...,...,...,...,...
175,United Kingdom,2020,326920.692502,Electricity - total solar production,2000.0,"Kilowatt-hours, million",1.000,NaN
176,United Kingdom,2000,569744.209114,Electricity - total solar production,2020.0,"Kilowatt-hours, million",13157.994,NaN
177,United Kingdom,2000,569744.209114,Electricity - total solar production,2000.0,"Kilowatt-hours, million",1.000,NaN
178,United Kingdom,1990,602652.078446,Electricity - total solar production,2020.0,"Kilowatt-hours, million",13157.994,NaN
179,United Kingdom,1990,602652.078446,Electricity - total solar production,2000.0,"Kilowatt-hours, million",1.000,NaN

In [471]:
co2_solar_prep = co2_solar.merge(precipitation_new,how='inner',left_on='Country',right_on='Country')
co2_solar_prep

,Country,Year_x,Value,Commodity - Transaction,Year_y,Unit_x,Quantity,Quantity Footnotes,Station Name,Period,...,Oct,Oct Footnotes,Nov,Nov Footnotes,Dec,Dec Footnotes,Annual,Annual Footnotes,Annual NCDC Computed Value,Annual NCDC Computed Value Footnotes
0,Australia,2020,400333.466600,Electricity - total solar production,2020.0,"Kilowatt-hours, million",21033.194,NaN,ALBANY (ALBANY TOWN),1961-1965,...,96.0,NaN,37.9,NaN,23.0,NaN,-9999.9,1.0,1012.3,NaN
1,Australia,2020,400333.466600,Electricity - total solar production,2020.0,"Kilowatt-hours, million",21033.194,NaN,ESPERANCE (ESPERANCE POST OFFICE),1961-1969,...,51.3,NaN,19.3,NaN,17.9,NaN,-9999.9,1.0,698.8,NaN
2,Australia,2020,400333.466600,Electricity - total solar production,2020.0,"Kilowatt-hours, million",21033.194,NaN,TENNANT CRK POST OFFICE WAS 014050,1961-1970,...,14.3,NaN,11.8,NaN,40.6,NaN,-9999.9,1.0,321.3,NaN
3,Australia,2020,400333.466600,Electricity - total solar production,2020.0,"Kilowatt-hours, million",21033.194,NaN,LONGREACH POST OFFICE,1961-1973,...,19.6,NaN,22.3,NaN,84.1,NaN,-9999.9,1.0,433.7,NaN
4,Australia,2020,400333.466600,Electricity - total solar production,2020.0,"Kilowatt-hours, million",21033.194,NaN,ESSENDON AIRPORT AMO,1961-1972,...,51.5,NaN,42.7,NaN,57.5,NaN,-9999.9,1.0,594.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7768,Ukraine,1990,705830.043363,Electricity - total solar production,2020.0,"Kilowatt-hours, million",5969.400,NaN,DNEPROPETROVSK,1961-1990,...,32.0,NaN,42.0,NaN,52.0,NaN,513.0,NaN,513.0,NaN
7769,Ukraine,1990,705830.043363,Electricity - total solar production,2020.0,"Kilowatt-hours, million",5969.400,NaN,DONECK,1961-1990,...,27.0,NaN,42.0,NaN,52.0,NaN,515.0,NaN,515.0,NaN
7770,Ukraine,1990,705830.043363,Electricity - total solar production,2020.0,"Kilowatt-hours, million",5969.400,NaN,LUGANSK,1961-1990,...,27.0,NaN,42.0,NaN,43.0,NaN,473.0,NaN,473.0,NaN
7771,Ukraine,1990,705830.043363,Electricity - total solar production,2020.0,"Kilowatt-hours, million",5969.400,NaN,HAPOROZ'E,1961-1990,...,27.0,NaN,43.0,NaN,52.0,NaN,510.0,NaN,510.0,NaN
7772,Ukraine,1990,705830.043363,Electricity - total solar production,2020.0,"Kilowatt-hours, million",5969.400,NaN,KIRILLOVKA,1961-1990,...,26.0,NaN,48.0,NaN,62.0,NaN,584.0,NaN,584.0,NaN

In [472]:
DF = co2_solar_prep.copy()
DF.head()

,Country,Year_x,Value,Commodity - Transaction,Year_y,Unit_x,Quantity,Quantity Footnotes,Station Name,Period,...,Oct,Oct Footnotes,Nov,Nov Footnotes,Dec,Dec Footnotes,Annual,Annual Footnotes,Annual NCDC Computed Value,Annual NCDC Computed Value Footnotes
0,Australia,2020,400333.4666,Electricity - total solar production,2020.0,"Kilowatt-hours, million",21033.194,NaN,ALBANY (ALBANY TOWN),1961-1965,...,96.0,NaN,37.9,NaN,23.0,NaN,-9999.9,1.0,1012.3,NaN
1,Australia,2020,400333.4666,Electricity - total solar production,2020.0,"Kilowatt-hours, million",21033.194,NaN,ESPERANCE (ESPERANCE POST OFFICE),1961-1969,...,51.3,NaN,19.3,NaN,17.9,NaN,-9999.9,1.0,698.8,NaN
2,Australia,2020,400333.4666,Electricity - total solar production,2020.0,"Kilowatt-hours, million",21033.194,NaN,TENNANT CRK POST OFFICE WAS 014050,1961-1970,...,14.3,NaN,11.8,NaN,40.6,NaN,-9999.9,1.0,321.3,NaN
3,Australia,2020,400333.4666,Electricity - total solar production,2020.0,"Kilowatt-hours, million",21033.194,NaN,LONGREACH POST OFFICE,1961-1973,...,19.6,NaN,22.3,NaN,84.1,NaN,-9999.9,1.0,433.7,NaN
4,Australia,2020,400333.4666,Electricity - total solar production,2020.0,"Kilowatt-hours, million",21033.194,NaN,ESSENDON AIRPORT AMO,1961-1972,...,51.5,NaN,42.7,NaN,57.5,NaN,-9999.9,1.0,594.9,NaN

In [473]:
DF = DF[['Country','Year_x','Value','Quantity','Station Name','Annual NCDC Computed Value']]
DF

,Country,Year_x,Value,Quantity,Station Name,Annual NCDC Computed Value
0,Australia,2020,400333.466600,21033.194,ALBANY (ALBANY TOWN),1012.3
1,Australia,2020,400333.466600,21033.194,ESPERANCE (ESPERANCE POST OFFICE),698.8
2,Australia,2020,400333.466600,21033.194,TENNANT CRK POST OFFICE WAS 014050,321.3
3,Australia,2020,400333.466600,21033.194,LONGREACH POST OFFICE,433.7
4,Australia,2020,400333.466600,21033.194,ESSENDON AIRPORT AMO,594.9
...,...,...,...,...,...,...
7768,Ukraine,1990,705830.043363,5969.400,DNEPROPETROVSK,513.0
7769,Ukraine,1990,705830.043363,5969.400,DONECK,515.0
7770,Ukraine,1990,705830.043363,5969.400,LUGANSK,473.0
7771,Ukraine,1990,705830.043363,5969.400,HAPOROZ'E,510.0
7772,Ukraine,1990,705830.043363,5969.400,KIRILLOVKA,584.0

In [474]:
DF.rename(columns={'Value':'CO2_anual','Quantity':'solar_energy_anual','Annual NCDC Computed Value':'precipitation_anual','Year_x':'Year'}, inplace=True)

In [475]:
DF

,Country,Year,CO2_anual,solar_energy_anual,Station Name,precipitation_anual
0,Australia,2020,400333.466600,21033.194,ALBANY (ALBANY TOWN),1012.3
1,Australia,2020,400333.466600,21033.194,ESPERANCE (ESPERANCE POST OFFICE),698.8
2,Australia,2020,400333.466600,21033.194,TENNANT CRK POST OFFICE WAS 014050,321.3
3,Australia,2020,400333.466600,21033.194,LONGREACH POST OFFICE,433.7
4,Australia,2020,400333.466600,21033.194,ESSENDON AIRPORT AMO,594.9
...,...,...,...,...,...,...
7768,Ukraine,1990,705830.043363,5969.400,DNEPROPETROVSK,513.0
7769,Ukraine,1990,705830.043363,5969.400,DONECK,515.0
7770,Ukraine,1990,705830.043363,5969.400,LUGANSK,473.0
7771,Ukraine,1990,705830.043363,5969.400,HAPOROZ'E,510.0
7772,Ukraine,1990,705830.043363,5969.400,KIRILLOVKA,584.0

In [476]:
prep_mean = DF.groupby('Country')[['precipitation_anual']].agg('mean')
prep_mean

             precipitation_anual
Country
Australia             764.802985
Austria              1105.285714
Belarus               622.833333
Belgium               821.200000
Bulgaria              528.714286
Canada                -44.797984
Croatia               853.550000
Cyprus                320.000000
Denmark               727.277778
Estonia               612.333333
Finland               575.916667
France                736.062500
Germany               826.368421
Greece                624.800000
Hungary               560.571429
Ireland              1006.818182
Italy                 670.923000
Japan                1731.690323
Latvia                666.000000
Lithuania             682.214286
Luxembourg            875.600000
Malta                 553.300000
Netherlands           772.160000
New Zealand          1291.799094
Norway                860.461538
Poland                693.500000
Portugal              907.333333
Romania               583.454545
Slovakia              595.733333
Slovenia             1393.100000
Spain                 626.490000
Sweden                589.812500
Switzerland          1628.000000
Ukraine               568.000000

In [477]:
DF.drop(columns=['Station Name','precipitation_anual'],inplace=True)

In [478]:
DF = prep_mean.merge(DF,how='inner',left_on='Country',right_on='Country')
DF

        Country  precipitation_anual  Year      CO2_anual  solar_energy_anual
0     Australia           764.802985  2020  400333.466600           21033.194
1     Australia           764.802985  2020  400333.466600           21033.194
2     Australia           764.802985  2020  400333.466600           21033.194
3     Australia           764.802985  2020  400333.466600           21033.194
4     Australia           764.802985  2020  400333.466600           21033.194
...         ...                  ...   ...            ...                 ...
7768    Ukraine           568.000000  1990  705830.043363            5969.400
7769    Ukraine           568.000000  1990  705830.043363            5969.400
7770    Ukraine           568.000000  1990  705830.043363            5969.400
7771    Ukraine           568.000000  1990  705830.043363            5969.400
7772    Ukraine           568.000000  1990  705830.043363            5969.400

[7773 rows x 5 columns]

In [479]:
DF = DF.drop_duplicates()
DF

,Country,precipitation_anual,Year,CO2_anual,solar_energy_anual
0,Australia,764.802985,2020,400333.466600,21033.194
67,Australia,764.802985,2020,400333.466600,38.000
134,Australia,764.802985,2000,349635.486902,21033.194
201,Australia,764.802985,2000,349635.486902,38.000
268,Australia,764.802985,1990,278154.156296,21033.194
...,...,...,...,...,...
7624,Switzerland,1628.000000,1990,44159.881987,11.000
7628,Switzerland,1628.000000,1990,44159.881987,1.000
7632,Ukraine,568.000000,2020,206941.158967,5969.400
7679,Ukraine,568.000000,2000,285321.939446,5969.400
7726,Ukraine,568.000000,1990,705830.043363,5969.400

In [480]:
df_solar = DF.groupby(['Country','Year'])[['solar_energy_anual']].agg('sum')
df_solar.reset_index(inplace=True)
df_solar

         Country  Year  solar_energy_anual
0      Australia  1990           21071.194
1      Australia  2000           21071.194
2      Australia  2020           21071.194
3        Austria  1990            2045.934
4        Austria  2000            2045.934
..           ...   ...                 ...
97   Switzerland  2000            2610.659
98   Switzerland  2020            2610.659
99       Ukraine  1990            5969.400
100      Ukraine  2000            5969.400
101      Ukraine  2020            5969.400

[102 rows x 3 columns]

In [481]:
df_solar.drop_duplicates(subset='solar_energy_anual',inplace=True)

In [482]:
df_solar.drop(columns='Year',inplace=True)
df_solar

        Country  solar_energy_anual
0     Australia           21071.194
3       Austria            2045.934
6       Belarus             176.000
9       Belgium            5105.400
12     Bulgaria            1480.856
15       Canada            4862.000
18      Croatia              95.500
21       Cyprus             295.608
24      Denmark            1181.532
27      Estonia             122.540
30      Finland             220.471
33       France           13403.392
36      Germany           48701.000
39       Greece            4446.854
42      Hungary            2459.000
45      Ireland              63.780
48        Italy           24963.504
51        Japan           79510.858
54       Latvia               4.847
57    Lithuania             128.800
60   Luxembourg             161.261
63        Malta             236.837
66  Netherlands            8773.172
69  New Zealand             160.216
72       Norway              26.521
75       Poland            1957.916
78     Portugal            1716.590
81      Romania            1733.375
84     Slovakia             663.000
87     Slovenia             368.196
90        Spain           20690.000
93       Sweden            1052.000
96  Switzerland            2610.659
99      Ukraine            5969.400

In [483]:
DF = DF.drop(columns='solar_energy_anual')
DF = df_solar.merge(DF,how='inner',left_on='Country',right_on='Country')
DF

         Country  solar_energy_anual  precipitation_anual  Year      CO2_anual
0      Australia           21071.194           764.802985  2020  400333.466600
1      Australia           21071.194           764.802985  2020  400333.466600
2      Australia           21071.194           764.802985  2000  349635.486902
3      Australia           21071.194           764.802985  2000  349635.486902
4      Australia           21071.194           764.802985  1990  278154.156296
..           ...                 ...                  ...   ...            ...
151  Switzerland            2610.659          1628.000000  1990   44159.881987
152  Switzerland            2610.659          1628.000000  1990   44159.881987
153      Ukraine            5969.400           568.000000  2020  206941.158967
154      Ukraine            5969.400           568.000000  2000  285321.939446
155      Ukraine            5969.400           568.000000  1990  705830.043363

[156 rows x 5 columns]

In [484]:
DF.drop_duplicates(inplace=True)
DF

         Country  solar_energy_anual  precipitation_anual  Year      CO2_anual
0      Australia           21071.194           764.802985  2020  400333.466600
2      Australia           21071.194           764.802985  2000  349635.486902
4      Australia           21071.194           764.802985  1990  278154.156296
6        Austria            2045.934          1105.285714  2020   62037.446764
8        Austria            2045.934          1105.285714  2000   66149.779714
..           ...                 ...                  ...   ...            ...
147  Switzerland            2610.659          1628.000000  2000   43622.369321
150  Switzerland            2610.659          1628.000000  1990   44159.881987
153      Ukraine            5969.400           568.000000  2020  206941.158967
154      Ukraine            5969.400           568.000000  2000  285321.939446
155      Ukraine            5969.400           568.000000  1990  705830.043363

[102 rows x 5 columns]

In [485]:
df_co2= DF.loc[:,['Year','CO2_anual']]
df_co2

     Year      CO2_anual
0    2020  400333.466600
2    2000  349635.486902
4    1990  278154.156296
6    2020   62037.446764
8    2000   66149.779714
..    ...            ...
147  2000   43622.369321
150  1990   44159.881987
153  2020  206941.158967
154  2000  285321.939446
155  1990  705830.043363

[102 rows x 2 columns]

In [486]:
prueba = df_co2[0:3]
prueba

   Year      CO2_anual
0  2020  400333.466600
2  2000  349635.486902
4  1990  278154.156296

In [487]:
prueba.set_index(['Year'],inplace=True)
prueba=prueba.T
prueba

Year              2020           2000           1990
CO2_anual  400333.4666  349635.486902  278154.156296

In [488]:
prueba.reset_index(inplace=True)
prueba

Year      index         2020           2000           1990
0     CO2_anual  400333.4666  349635.486902  278154.156296

In [489]:
prueba.iloc[0,0] = DF.iloc[0,0]
prueba

Year      index         2020           2000           1990
0     Australia  400333.4666  349635.486902  278154.156296

In [490]:
df = pd.DataFrame()
for i in range(int(len(DF)/3)):
    dfi = df_co2[3*i:3*i+3]
    dfi.set_index(['Year'],inplace=True)
    dfi=dfi.T
    dfi.reset_index(inplace=True)
    dfi.iloc[0,0] = DF.iloc[3*i,0]
    df = pd.concat([df, dfi], axis=0)
df

Year        index          2020          2000          1990
0       Australia  4.003335e+05  3.496355e+05  2.781542e+05
0         Austria  6.203745e+04  6.614978e+04  6.214525e+04
0         Belarus  5.859204e+04  5.490598e+04  1.083451e+05
0         Belgium  9.036801e+04  1.267195e+05  1.202926e+05
0        Bulgaria  3.696711e+04  4.546433e+04  7.669920e+04
0          Canada  5.348638e+05  5.666904e+05  4.582183e+05
0         Croatia  1.687053e+04  1.966249e+04  2.297979e+04
0          Cyprus  7.269578e+03  7.122416e+03  4.653217e+03
0         Denmark  2.994838e+04  5.564103e+04  5.487931e+04
0         Estonia  9.343010e+03  1.550038e+04  3.692221e+04
0         Finland  3.759593e+04  5.700992e+04  5.691434e+04
0          France  2.951364e+05  4.181890e+05  4.009646e+05
0         Germany  6.393810e+05  8.993518e+05  1.051979e+06
0          Greece  5.561028e+04  1.029732e+05  8.343804e+04
0         Hungary  4.728450e+04  5.836515e+04  7.322554e+04
0         Ireland  3.515320e+04  4.524912e+04  3.294442e+04
0           Italy  3.022786e+05  4.704872e+05  4.395498e+05
0           Japan  1.042224e+06  1.264595e+06  1.158129e+06
0          Latvia  6.994113e+03  7.081469e+03  1.966140e+04
0       Lithuania  1.365315e+04  1.187640e+04  3.576773e+04
0      Luxembourg  8.096513e+03  8.709963e+03  1.182335e+04
0           Malta  1.599576e+03  2.507257e+03  2.394194e+03
0     Netherlands  1.378495e+05  1.710822e+05  1.618069e+05
0     New Zealand  3.445675e+04  3.224601e+04  2.550251e+04
0          Norway  4.119676e+04  4.214881e+04  3.509663e+04
0          Poland  3.035231e+05  3.177192e+05  3.768136e+05
0        Portugal  4.179989e+04  6.568555e+04  4.532509e+04
0         Romania  7.413801e+04  9.266830e+04  1.734639e+05
0        Slovakia  3.109473e+04  4.113593e+04  6.147019e+04
0        Slovenia  1.286624e+04  1.505369e+04  1.509485e+04
0           Spain  2.133397e+05  3.116746e+05  2.313284e+05
0          Sweden  3.651510e+04  5.489066e+04  5.758009e+04
0     Switzerland  3.424097e+04  4.362237e+04  4.415988e+04
0         Ukraine  2.069412e+05  2.853219e+05  7.058300e+05

In [491]:
DF.drop(columns=['Year','CO2_anual'],inplace=True)
DF

         Country  solar_energy_anual  precipitation_anual
0      Australia           21071.194           764.802985
2      Australia           21071.194           764.802985
4      Australia           21071.194           764.802985
6        Austria            2045.934          1105.285714
8        Austria            2045.934          1105.285714
..           ...                 ...                  ...
147  Switzerland            2610.659          1628.000000
150  Switzerland            2610.659          1628.000000
153      Ukraine            5969.400           568.000000
154      Ukraine            5969.400           568.000000
155      Ukraine            5969.400           568.000000

[102 rows x 3 columns]

In [492]:
DF = DF.merge(df,how='left',left_on='Country',right_on='index')
DF

,Country,solar_energy_anual,precipitation_anual,index,2020,2000,1990
0,Australia,21071.194,764.802985,Australia,400333.466600,349635.486902,278154.156296
1,Australia,21071.194,764.802985,Australia,400333.466600,349635.486902,278154.156296
2,Australia,21071.194,764.802985,Australia,400333.466600,349635.486902,278154.156296
3,Austria,2045.934,1105.285714,Austria,62037.446764,66149.779714,62145.248288
4,Austria,2045.934,1105.285714,Austria,62037.446764,66149.779714,62145.248288
...,...,...,...,...,...,...,...
97,Switzerland,2610.659,1628.000000,Switzerland,34240.966950,43622.369321,44159.881987
98,Switzerland,2610.659,1628.000000,Switzerland,34240.966950,43622.369321,44159.881987
99,Ukraine,5969.400,568.000000,Ukraine,206941.158967,285321.939446,705830.043363
100,Ukraine,5969.400,568.000000,Ukraine,206941.158967,285321.939446,705830.043363
101,Ukraine,5969.400,568.000000,Ukraine,206941.158967,285321.939446,705830.043363

In [493]:
DF = DF.drop_duplicates()

In [494]:
DF

,Country,solar_energy_anual,precipitation_anual,index,2020,2000,1990
0,Australia,21071.194,764.802985,Australia,4.003335e+05,3.496355e+05,2.781542e+05
3,Austria,2045.934,1105.285714,Austria,6.203745e+04,6.614978e+04,6.214525e+04
6,Belarus,176.000,622.833333,Belarus,5.859204e+04,5.490598e+04,1.083451e+05
9,Belgium,5105.400,821.200000,Belgium,9.036801e+04,1.267195e+05,1.202926e+05
12,Bulgaria,1480.856,528.714286,Bulgaria,3.696711e+04,4.546433e+04,7.669920e+04
15,Canada,4862.000,-44.797984,Canada,5.348638e+05,5.666904e+05,4.582183e+05
18,Croatia,95.500,853.550000,Croatia,1.687053e+04,1.966249e+04,2.297979e+04
21,Cyprus,295.608,320.000000,Cyprus,7.269578e+03,7.122416e+03,4.653217e+03
24,Denmark,1181.532,727.277778,Denmark,2.994838e+04,5.564103e+04,5.487931e+04
27,Estonia,122.540,612.333333,Estonia,9.343010e+03,1.550038e+04,3.692221e+04
30,Finland,220.471,575.916667,Finland,3.759593e+04,5.700992e+04,5.691434e+04
33,France,13403.392,736.062500,France,2.951364e+05,4.181890e+05,4.009646e+05
36,Germany,48701.000,826.368421,Germany,6.393810e+05,8.993518e+05,1.051979e+06
39,Greece,4446.854,624.800000,Greece,5.561028e+04,1.029732e+05,8.343804e+04
42,Hungary,2459.000,560.571429,Hungary,4.728450e+04,5.836515e+04,7.322554e+04
45,Ireland,63.780,1006.818182,Ireland,3.515320e+04,4.524912e+04,3.294442e+04
48,Italy,24963.504,670.923000,Italy,3.022786e+05,4.704872e+05,4.395498e+05
51,Japan,79510.858,1731.690323,Japan,1.042224e+06,1.264595e+06,1.158129e+06
54,Latvia,4.847,666.000000,Latvia,6.994113e+03,7.081469e+03,1.966140e+04
57,Lithuania,128.800,682.214286,Lithuania,1.365315e+04,1.187640e+04,3.576773e+04
60,Luxembourg,161.261,875.600000,Luxembourg,8.096513e+03,8.709963e+03,1.182335e+04
63,Malta,236.837,553.300000,Malta,1.599576e+03,2.507257e+03,2.394194e+03
66,Netherlands,8773.172,772.160000,Netherlands,1.378495e+05,1.710822e+05,1.618069e+05
69,New Zealand,160.216,1291.799094,New Zealand,3.445675e+04,3.224601e+04,2.550251e+04
72,Norway,26.521,860.461538,Norway,4.119676e+04,4.214881e+04,3.509663e+04
75,Poland,1957.916,693.500000,Poland,3.035231e+05,3.177192e+05,3.768136e+05
78,Portugal,1716.590,907.333333,Portugal,4.179989e+04,6.568555e+04,4.532509e+04
81,Romania,1733.375,583.454545,Romania,7.413801e+04,9.266830e+04,1.734639e+05
84,Slovakia,663.000,595.733333,Slovakia,3.109473e+04,4.113593e+04,6.147019e+04
87,Slovenia,368.196,1393.100000,Slovenia,1.286624e+04,1.505369e+04,1.509485e+04
90,Spain,20690.000,626.490000,Spain,2.133397e+05,3.116746e+05,2.313284e+05
93,Sweden,1052.000,589.812500,Sweden,3.651510e+04,5.489066e+04,5.758009e+04
96,Switzerland,2610.659,1628.000000,Switzerland,3.424097e+04,4.362237e+04,4.415988e+04
99,Ukraine,5969.400,568.000000,Ukraine,2.069412e+05,2.853219e+05,7.058300e+05

In [495]:
DF = DF.drop(columns=['index'])
DF

,Country,solar_energy_anual,precipitation_anual,2020,2000,1990
0,Australia,21071.194,764.802985,4.003335e+05,3.496355e+05,2.781542e+05
3,Austria,2045.934,1105.285714,6.203745e+04,6.614978e+04,6.214525e+04
6,Belarus,176.000,622.833333,5.859204e+04,5.490598e+04,1.083451e+05
9,Belgium,5105.400,821.200000,9.036801e+04,1.267195e+05,1.202926e+05
12,Bulgaria,1480.856,528.714286,3.696711e+04,4.546433e+04,7.669920e+04
15,Canada,4862.000,-44.797984,5.348638e+05,5.666904e+05,4.582183e+05
18,Croatia,95.500,853.550000,1.687053e+04,1.966249e+04,2.297979e+04
21,Cyprus,295.608,320.000000,7.269578e+03,7.122416e+03,4.653217e+03
24,Denmark,1181.532,727.277778,2.994838e+04,5.564103e+04,5.487931e+04
27,Estonia,122.540,612.333333,9.343010e+03,1.550038e+04,3.692221e+04
30,Finland,220.471,575.916667,3.759593e+04,5.700992e+04,5.691434e+04
33,France,13403.392,736.062500,2.951364e+05,4.181890e+05,4.009646e+05
36,Germany,48701.000,826.368421,6.393810e+05,8.993518e+05,1.051979e+06
39,Greece,4446.854,624.800000,5.561028e+04,1.029732e+05,8.343804e+04
42,Hungary,2459.000,560.571429,4.728450e+04,5.836515e+04,7.322554e+04
45,Ireland,63.780,1006.818182,3.515320e+04,4.524912e+04,3.294442e+04
48,Italy,24963.504,670.923000,3.022786e+05,4.704872e+05,4.395498e+05
51,Japan,79510.858,1731.690323,1.042224e+06,1.264595e+06,1.158129e+06
54,Latvia,4.847,666.000000,6.994113e+03,7.081469e+03,1.966140e+04
57,Lithuania,128.800,682.214286,1.365315e+04,1.187640e+04,3.576773e+04
60,Luxembourg,161.261,875.600000,8.096513e+03,8.709963e+03,1.182335e+04
63,Malta,236.837,553.300000,1.599576e+03,2.507257e+03,2.394194e+03
66,Netherlands,8773.172,772.160000,1.378495e+05,1.710822e+05,1.618069e+05
69,New Zealand,160.216,1291.799094,3.445675e+04,3.224601e+04,2.550251e+04
72,Norway,26.521,860.461538,4.119676e+04,4.214881e+04,3.509663e+04
75,Poland,1957.916,693.500000,3.035231e+05,3.177192e+05,3.768136e+05
78,Portugal,1716.590,907.333333,4.179989e+04,6.568555e+04,4.532509e+04
81,Romania,1733.375,583.454545,7.413801e+04,9.266830e+04,1.734639e+05
84,Slovakia,663.000,595.733333,3.109473e+04,4.113593e+04,6.147019e+04
87,Slovenia,368.196,1393.100000,1.286624e+04,1.505369e+04,1.509485e+04
90,Spain,20690.000,626.490000,2.133397e+05,3.116746e+05,2.313284e+05
93,Sweden,1052.000,589.812500,3.651510e+04,5.489066e+04,5.758009e+04
96,Switzerland,2610.659,1628.000000,3.424097e+04,4.362237e+04,4.415988e+04
99,Ukraine,5969.400,568.000000,2.069412e+05,2.853219e+05,7.058300e+05

In [499]:
DF.rename(columns={2020:'CO2_2020',2000:'CO2_2000',1990:'CO2_1990'},inplace=True)
DF

,Country,solar_energy_anual,precipitation_anual,CO2_2020,CO2_2000,CO2_1990
0,Australia,21071.194,764.802985,4.003335e+05,3.496355e+05,2.781542e+05
3,Austria,2045.934,1105.285714,6.203745e+04,6.614978e+04,6.214525e+04
6,Belarus,176.000,622.833333,5.859204e+04,5.490598e+04,1.083451e+05
9,Belgium,5105.400,821.200000,9.036801e+04,1.267195e+05,1.202926e+05
12,Bulgaria,1480.856,528.714286,3.696711e+04,4.546433e+04,7.669920e+04
15,Canada,4862.000,-44.797984,5.348638e+05,5.666904e+05,4.582183e+05
18,Croatia,95.500,853.550000,1.687053e+04,1.966249e+04,2.297979e+04
21,Cyprus,295.608,320.000000,7.269578e+03,7.122416e+03,4.653217e+03
24,Denmark,1181.532,727.277778,2.994838e+04,5.564103e+04,5.487931e+04
27,Estonia,122.540,612.333333,9.343010e+03,1.550038e+04,3.692221e+04
30,Finland,220.471,575.916667,3.759593e+04,5.700992e+04,5.691434e+04
33,France,13403.392,736.062500,2.951364e+05,4.181890e+05,4.009646e+05
36,Germany,48701.000,826.368421,6.393810e+05,8.993518e+05,1.051979e+06
39,Greece,4446.854,624.800000,5.561028e+04,1.029732e+05,8.343804e+04
42,Hungary,2459.000,560.571429,4.728450e+04,5.836515e+04,7.322554e+04
45,Ireland,63.780,1006.818182,3.515320e+04,4.524912e+04,3.294442e+04
48,Italy,24963.504,670.923000,3.022786e+05,4.704872e+05,4.395498e+05
51,Japan,79510.858,1731.690323,1.042224e+06,1.264595e+06,1.158129e+06
54,Latvia,4.847,666.000000,6.994113e+03,7.081469e+03,1.966140e+04
57,Lithuania,128.800,682.214286,1.365315e+04,1.187640e+04,3.576773e+04
60,Luxembourg,161.261,875.600000,8.096513e+03,8.709963e+03,1.182335e+04
63,Malta,236.837,553.300000,1.599576e+03,2.507257e+03,2.394194e+03
66,Netherlands,8773.172,772.160000,1.378495e+05,1.710822e+05,1.618069e+05
69,New Zealand,160.216,1291.799094,3.445675e+04,3.224601e+04,2.550251e+04
72,Norway,26.521,860.461538,4.119676e+04,4.214881e+04,3.509663e+04
75,Poland,1957.916,693.500000,3.035231e+05,3.177192e+05,3.768136e+05
78,Portugal,1716.590,907.333333,4.179989e+04,6.568555e+04,4.532509e+04
81,Romania,1733.375,583.454545,7.413801e+04,9.266830e+04,1.734639e+05
84,Slovakia,663.000,595.733333,3.109473e+04,4.113593e+04,6.147019e+04
87,Slovenia,368.196,1393.100000,1.286624e+04,1.505369e+04,1.509485e+04
90,Spain,20690.000,626.490000,2.133397e+05,3.116746e+05,2.313284e+05
93,Sweden,1052.000,589.812500,3.651510e+04,5.489066e+04,5.758009e+04
96,Switzerland,2610.659,1628.000000,3.424097e+04,4.362237e+04,4.415988e+04
99,Ukraine,5969.400,568.000000,2.069412e+05,2.853219e+05,7.058300e+05

In [504]:
DF.set_index(['Country'],inplace=True)

In [505]:
DF.sort_index(axis=1,inplace=True)
DF

,CO2_1990,CO2_2000,CO2_2020,precipitation_anual,solar_energy_anual
Country,,,,,
Australia,2.781542e+05,3.496355e+05,4.003335e+05,764.802985,21071.194
Austria,6.214525e+04,6.614978e+04,6.203745e+04,1105.285714,2045.934
Belarus,1.083451e+05,5.490598e+04,5.859204e+04,622.833333,176.000
Belgium,1.202926e+05,1.267195e+05,9.036801e+04,821.200000,5105.400
Bulgaria,7.669920e+04,4.546433e+04,3.696711e+04,528.714286,1480.856
Canada,4.582183e+05,5.666904e+05,5.348638e+05,-44.797984,4862.000
Croatia,2.297979e+04,1.966249e+04,1.687053e+04,853.550000,95.500
Cyprus,4.653217e+03,7.122416e+03,7.269578e+03,320.000000,295.608
Denmark,5.487931e+04,5.564103e+04,2.994838e+04,727.277778,1181.532
Estonia,3.692221e+04,1.550038e+04,9.343010e+03,612.333333,122.540
Finland,5.691434e+04,5.700992e+04,3.759593e+04,575.916667,220.471
France,4.009646e+05,4.181890e+05,2.951364e+05,736.062500,13403.392
Germany,1.051979e+06,8.993518e+05,6.393810e+05,826.368421,48701.000
Greece,8.343804e+04,1.029732e+05,5.561028e+04,624.800000,4446.854
Hungary,7.322554e+04,5.836515e+04,4.728450e+04,560.571429,2459.000
Ireland,3.294442e+04,4.524912e+04,3.515320e+04,1006.818182,63.780
Italy,4.395498e+05,4.704872e+05,3.022786e+05,670.923000,24963.504
Japan,1.158129e+06,1.264595e+06,1.042224e+06,1731.690323,79510.858
Latvia,1.966140e+04,7.081469e+03,6.994113e+03,666.000000,4.847
Lithuania,3.576773e+04,1.187640e+04,1.365315e+04,682.214286,128.800
Luxembourg,1.182335e+04,8.709963e+03,8.096513e+03,875.600000,161.261
Malta,2.394194e+03,2.507257e+03,1.599576e+03,553.300000,236.837
Netherlands,1.618069e+05,1.710822e+05,1.378495e+05,772.160000,8773.172
New Zealand,2.550251e+04,3.224601e+04,3.445675e+04,1291.799094,160.216
Norway,3.509663e+04,4.214881e+04,4.119676e+04,860.461538,26.521
Poland,3.768136e+05,3.177192e+05,3.035231e+05,693.500000,1957.916
Portugal,4.532509e+04,6.568555e+04,4.179989e+04,907.333333,1716.590
Romania,1.734639e+05,9.266830e+04,7.413801e+04,583.454545,1733.375
Slovakia,6.147019e+04,4.113593e+04,3.109473e+04,595.733333,663.000
Slovenia,1.509485e+04,1.505369e+04,1.286624e+04,1393.100000,368.196
Spain,2.313284e+05,3.116746e+05,2.133397e+05,626.490000,20690.000
Sweden,5.758009e+04,5.489066e+04,3.651510e+04,589.812500,1052.000
Switzerland,4.415988e+04,4.362237e+04,3.424097e+04,1628.000000,2610.659
Ukraine,7.058300e+05,2.853219e+05,2.069412e+05,568.000000,5969.400

In [ ]:
DF.r